<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="utf-8">
    <title>Create</title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script src="/javascripts/jquery.min.js" type="text/javascript"></script>
    <script src="/javascripts/bootstrap.min.js" type="text/javascript"></script>
    <!--<script src='/javascripts/angular.min.js' type="text/javascript"></script>-->
    <script src='/javascripts/client.js' type="text/javascript"></script>
</head>
<body>
    <div class="container">
        <div class="col-md-8 col-md-offset-2 text-center">
            <h1>Prime Calculator</h1>
            <div class="window" id="window"></div>
            <div class="row">
                <button class="btn" id="7">7</button>
                <button class="btn" id="8">8</button>
                <button class="btn" id="9">9</button>
                <button class="btn" id="+">+</button>
            </div>
            <div class="row">
                <button class="btn" id="4">4</button>
                <button class="btn" id="5">5</button>
                <button class="btn" id="6">6</button>
                <button class="btn" id="-">-</button>
            </div>
            <div class="row">
                <button class="btn" id="1">1</button>
                <button class="btn" id="2">2</button>
                <button class="btn" id="3">3</button>
                <button class="btn" id="/">/</button>
            </div>
            <div class="row">
                <button class="btn" id="0">0</button>
                <button class="btn" id=".">.</button>
                <button class="btn" id="=">=</button>
                <button class="btn" id="*">*</button>
            </div>
            <button class="btn clear" id="clear">Clear</button>
            <!--<h3>Assignments</h3>-->
            <!--<table class="table table-striped bob">-->
                <!--<tbody>-->
                    <!--<tr ng-repeat="assignment in assignments">-->
                        <!--<td>{{ assignment.name }}</td>-->
                        <!--<td>-->
                            <!--<button class="btn btn-primary" ng-click="delete(assignment._id)">Remove</button>-->
                            <!--<button class="btn btn-warning" ng-click="update(assignment._id)">Update</button>-->
                        <!--</td>-->
                    <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        </div>
    </div>
</body>
</html>